# Node.js dependencies
node_modules/

# Environment variables
.env
.env.local

# Logs
logs/
*.log

# Build files
dist/
build/

# OS-specific files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
.cache/

# Ignore client-specific files
client/node_modules/
client/build/

# Ignore server-specific files
server/node_modules/
server/dist/